{% extends "accounts/index.html" %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer: {{customer.name}}</h5>
			<hr>
			<a class="btn btn-outline-primary  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'customer_orders' customer.id %}">Place order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: <span>{{customer.email}}</span></p>
			<p>Phone: <span>{{customer.phone}}</span></p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{o_l}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
                </tr>
                

                {% for o in orders %}
                    <tr>
                        <td>{{ o.product.name}}</td>
                        <td>{{ o.product.cat_value}}</td>
                        <td>{{ o.date_created}}</td>
                        <td>{{ o.status_value }}</td>
                        <td><a href="{% url 'upd_order' o.id %}" class="btn btn-sm btn-outline-info">Update</a></td>
                        <td><a href="{% url 'del_order' o.id %}" class="btn btn-sm btn-outline-danger">Remove</a></td>
				</tr>

                {% endfor %}

			</table>
		</div>
	</div>
</div>


{% endblock content %}
