{% extends "accounts/index.html" %}

{% block content %}

<div class='login'>
    <div class='login-content'>
        <h2>Login</h2>
        <form action="" method="POST">
                {% csrf_token %}
                    {{form}}
                    {% if messages %}
                        <div class="login-messages">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        </div>
                    {% endif %}
            <button type="submit" value="login">Login</button>
        </form>
        <p>Do not have account?<a href="{% url 'register' %}"> <span>Register</span></a></p>
    
    
    
    </div>
    
</div>

{% endblock content %}