{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
  <img src="{% static '/img/logo_transparent_wider.png' %}" alt="Logo" class="logo-img">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer' user.id %}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">About</a>
      </li>
    </ul>
  </div>
  {% if user.is_authenticated %}
  <span class="nav-hello-msg">Hello, {{request.user}}!</span>
  {% endif %}
  <span ><a class="nav-login" {% if user.is_authenticated %} href="{% url 'logout' %}">Logout {% else %} href="{% url 'login' %}">Login{% endif %}</a></span>
</nav>