{% extends "accounts/index.html" %}

{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                    {{form}}
                <div class="bottom-buttons">
                    <a class="btn btn-secondary" style="width: 200px; margin-right: 10px;" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-primary" style="width: 200px; margin:0" type="submit" value="Create order" name="Submit">
                </div>
            </form>
		</div>
	</div>
</div>

{% endblock content %}

